[submodule "core"]
	path = core
	url = https://github.com/aldegad/nuxt-core

[submodule "svg-mapper"]
	path = svg-mapper
	url = https://github.com/aldegad/nuxt-svg-mapper
[submodule "nuxt-forest-princess"]
	path = nuxt-forest-princess
	url = https://github.com/aldegad/nuxt-forest-princess.git
